{% extends "base.html" %}
<!-- Custom front matter -->
{% block extrahead %}
<!-- Additional styles for landing page -->
<style>
/* Application header should be static for the landing page */
.md-header {
    position: initial;
}

.md-main {
    background: url(assets/images/ll_.png), url(assets/images/base.png);
    background-size: contain, auto;
    background-repeat: no-repeat, repeat;
    background-position: bottom right;
}

@media screen and (max-width: 500px), 
       screen and (max-height: 600px) {
    .md-main {
        background: url(assets/images/base.png);
    }
}

.md-button {
    background-color: var(--md-primary-bg-color);
    /*background-color: var(--md-accent-fg-color);*/
    border-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color);
}

/* Hide navigation */
@media screen and (min-width: 76.25em) {
    .md-sidebar--primary {
        display: none;
    }
}
</style>
{% endblock %}